<!-- This Reusable component get the schema data dynamically from the any section where it is rendered and in turn, will populate the unique content for different sections. -->

{% if section.blocks.size > 3 %}
    <div class="slick-slider">
        {% for block in section.blocks %}
            <div class="slide">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                <h4>{{ block.settings.caption }}</h4>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="image-slider">
        {% for block in section.blocks %}
            <div class="slide">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                <h4>{{ block.settings.caption }}</h4>
            </div>
        {% endfor %}
    </div>
{% endif %}

<style>
    .image-slider{
        display: flex;
        justify-content: center;
        max-width: 1920px;
        margin: 0 auto;
    }

    .slide{
        max-width: 340px;
        padding: 0 1rem;
        text-align: center;
    }

    .slide img{
        width: 100%;
    }

    .slide h4{
        text-transform: capitalize;
    }

</style>  

<script>
    $(".slick-slider").slick({
        slidesToShow: 3,
        autoplay: true,
        autoplaySpeed: 1000
    });
</script>